

.figure.editorial {
    width: 20%;
}

.figure.editorial:hover {
    width: 60%;
}



.editorial1 {
    object-position: 30% 30%;
}


.editorial2, .editorial7, .editorial6 {
    object-position: 35%;
} 

.editorial5 {
    object-position: 52%;
}

.editorial3, .editorial4 {
    object-position: 50% 10%;
}

.editorial6 {
    object-position: 30% 20%;
}



/* MEDIA QUERIES */

@media (max-width: 480px) {

    .figure.editorial {
        flex-basis: 60%;
    }

    .figure.editorial:hover {
        width: 95%;
        height: 75vh;
    }
}


@media (min-width: 481px) and (max-width: 768px) {

    .figure.editorial {
        flex-basis:40%;
    }

    .figure.editorial:hover {
        width: 95%;
        height: 75vh;
    }
}


@media (min-width: 769px) and (max-width: 1023px) {

    
    .figure.editorial {
        display: flex;
        flex-basis: 33%;
        flex-flow: column;
    }

    .figure.editorial:hover {
        height: 75vh;
    }

}

@media (min-width: 1024px) and  (max-width: 1279px) {

    .figure.editorial {
        display: flex;
        flex-basis: 33%;
        flex-flow: column;
    }

    .figure.editorial:hover {
        height: 75vh;
    }

   
}

@media (min-width: 1280px) and  (max-width: 1443px) {

    .figure.editorial {
        width: 0%;
    }
    .figure.editorial:hover {
        width: 40%;
    }
}

@media (min-width: 1444px) and (max-width: 1919px) {

    .figure.editorial {
        width: 0%;
    }
    
    .figure.editorial:hover {
        width: 20%;
    }
}