.editorialSection {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px;
    justify-content: center;
    background-color:var(--color-babyWhite);
}

.editorial:hover {
    width: 30%;
}



.florenz-girl {
    object-fit: cover;
    object-position: 35%;
} 

.florenz-boy {
    object-fit: cover;
    object-position: 55%;
}

.brianda, .eps {
    object-fit: cover;
    object-position: 50% 10%;
}



/* MEDIA QUERIES */

@media (max-width: 480px) {
    
    .editorialSection  {
        height: 100%;
        padding: 5px 0 50px;
    } 
}


@media (min-width: 481px) and (max-width: 768px) {

    .editorialSection {
        height: 100%;
        padding: 5px 0 50px;
    }
}


@media (min-width: 769px) and (max-width: 1919px) {

    .editorialSection {
        height: 90svh;
        padding: 5px 0 5px;
        margin-top: 20px;
    }
}


