.figure.editorial { width: 20% }
.figure.editorial:hover { width: 60% }
.figure.editorial.activePicture { width: 30% }
.editorial0 { object-position: 12% }
.editorial1, .editorial6 { object-position: 46% }
.editorial2, .editorial7 { object-position: 35% } 
.editorial5, .editorial4 { object-position: 50% }
.editorial3 { object-position: 55% }



/* MEDIA QUERIES */

@media (max-width: 480px) {

    .figure.editorial { flex-basis: 60% }

    .figure.editorial.activePicture {
        width: 95%;
        height: 75vh;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .figure.editorial { flex-basis:40% }

    .figure.editorial.activePicture {
        width: 95%;
        height: 75vh;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {

    .figure.editorial {
        flex-basis: 33%;
    }

    .figure.editorial.activePicture { 
        width: 55%;
    }

}

@media (min-width: 1024px) and  (max-width: 1279px) {

    .figure.editorial { flex-basis: 33% }
    .figure.editorial.activePicture { width: 55% }
}

@media (min-width: 1280px) and  (max-width: 1443px) {

    .figure.editorial { width: 0% }
    .figure.editorial:hover { width: 20% }
    .figure.editorial.activePicture { width: 60% }
}

@media (min-width: 1444px) and (max-width: 1919px) {

    .figure.editorial { width: 0% }
    .figure.editorial:hover { width: 20% }
    .figure.editorial.activePicture { width: 40% }
}