.bioSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 0px 100px;
    background-color:var( --rtc-color-babyPink);
}

.introBioDiv, .biographyDiv, .studiesDiv, .otherStudiesDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 80px 60px;
}

.studiesDiv, .otherStudiesDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}


.bioH2, .bioH3, .bioH4 {
    width: auto;
    height: auto;
    color: var(--rtc-color-classicRed);
    font-family: var(--rtc-font-family-1);
    transform: scale3d(1.7, 1, 1);
    letter-spacing: 1px;
    font-weight: 100;
}

.bioH2, .bioH3, .bioH4 {
    margin: 0px 0px 40px 40px;
}

.bioH2 {
    font-size: 60px;
}

.bioH3 {
    font-size: 40px;
}

.bioH4 {
    font-size: 30px;
    margin: 0px 0px 40px 50px;
    
}

blockquote, .bioParagraph, .studiesList, .otherStudiesList {
    width: 100%;
    height: auto;
    text-align: center;
    background-color:var( --rtc-color-babyPink);
    font-family: var(--rtc-font-family-3);
    color: var(--rtc-color-classicRed);
    font-size: 16px;
    letter-spacing: 0.5px;
}

.bioParagraph, .studiesList, .otherStudiesList {
    text-align: justify;
    list-style: none; 
    color: var(--rtc-color-turquoise);
}

.studiesList > li, .otherStudiesList > li  {
    width: auto;
    height: auto;
    font-family: var(--rtc-font-family-3);
    color: var(--rtc-color-turquoise);
}


.bioPictureDiv {
    width: 100%;
    height: 750px;
    position: relative; /* Para controlar la posición de la imagen, si es necesario */
    overflow: hidden;
}

.bioPic {
    width: 100%;      /* La imagen ocupa todo el ancho del contenedor */
    height: 100%;     /* La imagen ocupa toda la altura del contenedor */
    object-fit: cover; /* Recorta la imagen para ajustarse al div sin distorsionar */
    display: block; 
}

strong {
    width: auto;
    height: auto;
    color:var(--rtc-color-classicRed);
}

.clave {
    color: var(--rtc-color-turquoise);
    font-weight: 100;
}




/* MEDIA QUERIES */


@media (max-width: 480px) {

    .bioSection {
        padding: 20px 0px 40px;
    }
    
    .bioH2 {
        font-size: 40px;
    }
    
    .bioH3 {
        font-size: 30px;
        margin: 0px 0px 0px 40px;
    }
    
    .bioH4 {
        font-size: 25px;
        margin: 0px 0px 0px 60px;
        
    }

    .bioPictureDiv {
        width: 100%;
        height: 265px;
        position: relative;
        overflow: hidden;
    }

    .bioPic {
        width: 100%;   
        height: 100%;    
        object-fit: cover; 
        display: block; 
    }

    .introBioDiv, .biographyDiv, .studiesDiv, .otherStudiesDiv {
        padding: 10px 5px;
    }

    blockquote, .bioParagraph,.studiesList, .otherStudiesList {
        text-align: justify;
        padding: 20px;
        font-size: 14px;
    }


   
}


@media (min-width: 481px) and (max-width: 768px) {

    .bioSection {
        padding: 20px 0px 40px;
    }

    .introBioDiv, .biographyDiv, .studiesDiv, .otherStudiesDiv {
        padding: 10px 5px;
    }
    
    .bioH2 {
        font-size: 45px;
    }
    
    .bioH3 {
        font-size: 35px;
        margin: 0px 0px 0px 40px;
    }
    
    .bioH4 {
        font-size: 30px;
        margin: 0px 0px 0px 60px;
        
    }

    blockquote, .bioParagraph,.studiesList, .otherStudiesList {
        text-align: justify;
        padding: 20px;
        font-size: 14px;
    }


    .bioPictureDiv {
        width: 100%;
        height: 350px;
        position: relative; 
        overflow: hidden;
    }

    .bioPic {
        width: 100%; 
        height: 100%;   
        object-fit: cover;
        display: block; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .bioSection {
        padding: 20px 0px 40px;
    }

    .introBioDiv, .biographyDiv, .studiesDiv, .otherStudiesDiv {
        padding: 20px;
    }

    .bioH3 {
        margin: 0px 0px 0px 40px;
    }
    
    .bioH2 {
        font-size: 50px;
    }
    
    .bioH3 {
        font-size: 40px;
    }
    
    .bioH4 {
        font-size: 35px;
        margin: 0px 0px 0px 70px;
        
    }

    blockquote, .bioParagraph,.studiesList, .otherStudiesList {
        text-align: justify;
        padding: 20px;
        font-size: 16px;
    }


    .bioPictureDiv {
        width: 100%;
        height: 450px;
        position: relative; 
        overflow: hidden;
    }

    .bioPic {
        width: 100%; 
        height: 100%;   
        object-fit: cover;
        display: block; 
    }
}


@media (min-width: 1025px) and (max-width: 1280px) {

    .bioSection {
        padding: 20px 0px 40px;
    }

    .introBioDiv, .biographyDiv, .studiesDiv, .otherStudiesDiv {
        padding: 20px;
    }

    .bioH3 {
        margin: 0px 0px 0px 50px;
    }
    
    .bioH2 {
        font-size: 55px;
    }
    
    .bioH3 {
        font-size: 45px;
    }
    
    .bioH4 {
        font-size: 40px;
        margin: 0px 0px 0px 80px;
        
    }

    blockquote, .bioParagraph,.studiesList, .otherStudiesList {
        text-align: justify;
        padding: 20px;
        font-size: 16px;
    }


    .bioPictureDiv {
        width: 100%;
        height: 450px;
        position: relative; 
        overflow: hidden;
    }

    .bioPic {
        width: 100%; 
        height: 100%;   
        object-fit: cover;
        display: block; 
    }
}


@media (min-width: 1281px) and (max-width: 1440px) {
    .bioSection {
        padding: 20px 0px 40px;
    }
    
    .introBioDiv, .biographyDiv, .studiesDiv, .otherStudiesDiv {
        padding: 20px;
    }
    
    .bioH3 {
        margin: 0px 0px 0px 50px;
    }
    
    .bioH2 {
        font-size: 55px;
    }
    
    .bioH3 {
        font-size: 40px;
    }
    
    .bioH4 {
        font-size: 28px;
        margin: 0px 0px 0px 80px;
        
    }
    
    blockquote, .bioParagraph,.studiesList, .otherStudiesList {
        text-align: justify;
        padding: 20px;
        font-size: 16px;
    }
    
    
    .bioPictureDiv {
        width: 100%;
        height: 450px;
        position: relative; 
        overflow: hidden;
    }
    
    .bioPic {
        width: 100%; 
        height: 100%;   
        object-fit: cover;
        display: block; 
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {

    .introBioDiv, .biographyDiv, .studiesDiv, .otherStudiesDiv {
        padding: 30px 60px 40px;
    }


    blockquote, .bioParagraph,.studiesList, .otherStudiesList {
        text-align: justify;
        padding: 15px;
        font-size: 16px;
    }

    .bioH3 {
        margin: 0px 0px 10px 50px;
    }
    
    .bioH2 {
        font-size: 55px;
    }
    
    .bioH3 {
        font-size: 35px;
    }
    
    .bioH4 {
        font-size: 28px;
        margin: 0px 0px 10px 70px;
        
    }
}





