.creativeSection {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px;
    justify-content: center;
    background-color:var(--color-babyWhite);
}

.creative:hover {
    width: 50%;
}


.creative1 {
    object-fit: cover;
    object-position: 35%;
}

.vertical {
    object-fit: cover;
    object-position: 55%;
}




/* MEDIA QUERIES */

@media (max-width: 480px) {

    .creative:hover {
        width: 95%;
        height: 55%;
    }
    
    .creativeSection  {
        height: 100%;
        padding: 5px 0 50px;
    } 
}


@media (min-width: 481px) and (max-width: 768px) {

    .creative:hover {
        width: 95%;
        height: 65%;
    }

    .creativeSection {
        height: 100%;
        padding: 5px 0 50px;
    }
}


@media (min-width: 769px) and (max-width: 1919px) {

    .creativeSection {
        height: 90svh;
        padding: 5px 0 5px;
        margin-top: 20px;
    }
}



