.creativeSection {
    width: 100%;
    height: 90svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px;
    justify-content: center;
    background-color:var(--color-babyWhite);
}

.creative {
    width:10%;
}


.creative1 {
    object-fit: cover;
    object-position: 35%;
}

.vertical {
    object-fit: cover;
    object-position: 55%;
}






/* MEDIA QUERIES */

@media (max-width: 480px) {

    .creative:hover {
        width: 100%;
        height: 65%;
    }

    .figure.creative {
        flex-basis: 45%;
    }
}


@media (min-width: 481px) and (max-width: 768px) {

    .creative:hover {
        width: 100%;
        height: 65%;
    }

    .figure.creative {
        flex-basis: 33%;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .creative:hover {
        width: 85%;
        height: 85%;
    }

    .figure.creative {
        flex-basis: 33%;
    }
}

@media (min-width: 1025px) and (max-width: 1443px) {

    .creative:hover {
        width: 85%;
        height: 85%;
    }

    .figure.creative {
        flex-basis: 33%;
    }  
}

@media (min-width: 1444px) and (max-width: 1919px) {

    .creative:hover {
        width: 90%;
    }
}



