.figure.creative { width: 20%; }
.figure.creative:hover { width: 70%; }
.creativo1, .creativo2, .creativo8, .creativo5 { object-position: 55% }
.creativo1 { filter: brightness(1.1) }
.creativo9 { object-position: 45%; filter: contrast(1.1); }
.creativo3 { object-position: 35%; }




/* MEDIA QUERIES */

@media (max-width: 480px) {

    .figure.creative { flex-basis: 60% }
    .figure.creative.activePicture {
        width: 95%;
        height: 75vh;
    }
    .gallery-item.creativo3 { object-position: 50% }
}


@media (min-width: 481px) and (max-width: 768px) {

    .figure.creative { flex-basis: 40% }

    .figure.creative.activePicture {
        width: 85%;
        height: 75vh;
    }
    .gallery-item.creativo3 { object-position: 50% }
    
}


@media (min-width: 769px) and (max-width: 1023px) {
    
    .figure.creative { flex-basis: 33% }
    .figure.creative.activePicture {
        width: 85%;
        height: 75vh;
    }
    .gallery-item.creativo3 { object-position: 50% }
}

@media (min-width: 1024px) and  (max-width: 1279px) {

    .figure.creative { flex-basis: 33% }
    .figure.creative.activePicture {
        width: 60%;
        height: 90%;
    }
  
}

@media (min-width: 1280px) and  (max-width: 1443px) {    
    .figure.creative { width: 0% }
    .figure.creative:hover { width: 30% }
    .figure.creative.activePicture { width: 60% }
}

@media (min-width: 1444px) and (max-width: 1919px) {
    .figure.creative { width: 10% }
    .figure.creative:hover { width: 30% }
    .figure.creative.activePicture { width: 40% }
}




