.educationSection {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color:var( --babyPink);
}

