.homeCover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background-color: var(--rtc-color-babyPink);
}

.coverImage {
    object-fit: cover;
    width: 60%;
    filter: opacity(70%);
    
}


/* MEDIA QUERIES */

@media (max-width: 480px) {

    .homeCover {
        background-color: var(--rtc-color-skyBlue);
    }

    .coverImage {
         object-fit: cover;
         width: 100%;
         filter: opacity(30%);
     }
}


@media (min-width: 481px) and (max-width: 768px) {

    .homeCover {
        background-color: var(--rtc-color-skyBlue);
    }

    .coverImage {
        object-fit: cover;
        width: 100%;
        filter: opacity(30%);
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

     .homeCover {
        background-color: var(--rtc-color-skyBlue);
    }

    .coverImage {
        object-fit: cover;
        width: 100%;
        filter: opacity(30%);
    }
   
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .coverImage {
        object-fit: cover;
        width: 60%;
        filter: opacity(70%);
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .coverImage {
        object-fit: cover;
        width: 60%;
        filter: opacity(70%);
    }
}

@media (min-width: 1921px) {
    .coverImage {
        object-fit: cover;
        width: 60%;
        filter: opacity(70%);
    }
}





/*

@media (max-width: 480px) {

   
}

@media (min-width: 481px) and (max-width: 768px) {


}

@media (min-width: 769px) and (max-width: 1024px) {

   
}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) and (max-width: 1440px) {

}

@media (min-width: 1921px) {

}


*/