
.divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-s);
    width: 70px; /* esto es lo modificable a la hora del responsive */
    height: auto;
    cursor: pointer;
    background-color: var(--transparent);
}

.logo {
    width: 100%;
    height: auto;
    object-fit: contain;    
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
    
    .logo {
        width: 55px;
    }
   
}

@media (min-width: 481px) and (max-width: 768px) {

    .logo {
        width: 55px; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        width: 65px; 
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .logo {
        width: 65px;  
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {

    .logo {
        width: 60px; 
    }
}

@media (min-width: 1441px) and (max-width: 1919px){
    .logo {
        width: 50px;  
    }
}
