.beautySection {
    width: 100%;
    height: 90svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px;
    justify-content: center;
    background-color:var(--color-babyWhite);
}

.beauty {
    width: 10%;
}

.beauty:hover {
    width: 30%;
}

.sara {
    object-position: 32%;
}

.invitada1, .invitada2, .invitada3 {
    object-position: 24%;
}

.book {
    object-position: 58%; 
}

.vertical {
    object-position: 75%;
}

.nineties {
    object-position: 90%;
}



/* MEDIA QUERIES */

@media (max-width: 480px) {

    .beautySection {
        height: auto;
    }

    .beauty:hover {
        width: 95%;
        height: 45%;
    }

    .figure.beauty {
        flex-basis: 45%;
    }
}


@media (min-width: 481px) and (max-width: 768px) {


    .beautySection {
        height: auto;
    }

    .beauty:hover {
        width: 95%;
        height: 45%;
    }

    .figure.beauty {
        flex-basis: 45%;
    }
}


@media (min-width: 769px) and (max-width: 1023px) {

    .beautySection {
        height: auto;
    }

    .beauty:hover {
        width: 95%;
        height: 60%;
    }
    
    .figure.beauty {
        flex-basis: 33%;
    }
}

@media (min-width: 1024px) and  (max-width: 1279px) {

    .beautySection {
        height: auto;
    }

    .beauty:hover {
        width: 95%;
        height: 45%;
    }

    .figure.beauty {
        flex-basis: 33%;
    }
}

@media (min-width: 1280px) and  (max-width: 1443px) {


    .beauty {
        width: 0%;
    }
    .beauty:hover {
        width: 40%;
    }
}

@media (min-width: 1444px) and (max-width: 1919px) {

    .beauty {
        width: 0%;
    }
    
    .beauty:hover {
        width: 40%;
    }
}


