.beautySection {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px;
    justify-content: center;
    background-color:var(--color-babyWhite);
}

.beauty:hover {
    width: 20%;
}

.nineties {
    object-fit: cover;
    object-position: 82%; 
}

.sara {
    object-fit: cover;
    object-position: 32%;
}

.invitada1, .invitada2, .invitada3 {
    object-fit: cover;
    object-position: 24%;
}

.book, .night  {
    object-fit: cover;
    object-position: 58%; 
}



/* MEDIA QUERIES */

@media (max-width: 480px) {

    .beauty:hover {
        width: 95%;
    }
    
    .beautySection  {
        height: 90svh;
        padding: 5px 0 50px;
    } 
}


@media (min-width: 481px) and (max-width: 768px) {


    .beauty:hover {
        width: 95%;
    }

    .beautySection {
        height: 90svh;
        padding: 5px 0 50px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .beauty:hover {
        width: 60%;
    }

    .beautySection {
        height: 90svh;
        padding: 5px 0 5px;
    }
}

@media (min-width: 1025px) and (max-width: 1919px) {

    .beauty:hover {
        width: 40%;
    }

    .beautySection {
        height: 90svh;
        padding: 5px 0 5px;
    }
}

