.mainDiv {
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100vh;
    background-color: var(--color-babyWhite);
    /*background-color: #63c6e3;*/
}

.coverMenu { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 40%;
    background-color: var(--color-babyWhite);
    /*background-color: #63c6e3;*/
}


/*
.logo, li {
    opacity: 80%;
}
*/

/* MEDIA QUERIES */

@media (max-width: 480px) {

    .coverMenu {
        display: flex;
        position: absolute;
        width: 100%;
        background-color: transparent;
        gap: 20px;
        /* background-color: #63c6e3; */

    }
   
}

@media (min-width: 481px) and (max-width: 768px) {

    .coverMenu {
        display: flex;
        position: absolute;
        width: 100%;
        background-color: transparent;
        gap: 20px;
        /* background-color: #63c6e3; */

    }

}

@media (min-width: 769px) and (max-width: 1023px) {

    .mainDiv {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        width:100%;
        height:100svh;
        background-color: var(--color-babyWhite);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {

    .mainDiv {
        display: flex;
        justify-content:space-evenly;
        align-items:center;
        width:100%;
        height:100svh;
        background-color: var(--color-babyWhite);
    }

}

@media (min-width: 1281px) and (max-width: 1440px) {

    .mainDiv {
        display: flex;
        justify-content:space-around;
        align-items:center;
        width:100%;
        height:100svh;
    }
}

@media (min-width: 1441px) and (max-width: 1919px){

  
}
