.divHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 16vh;
    background-color: var(--color-transparent);
    gap: 10px;
    z-index: 10;
}

.divHeader.header-pink {
    padding-top: var(--padding-l);
    background-color: var(--color-babyPink) ;
}


/* MEDIA QUERIES */

@media (max-width: 480px) {

    .divHeader {
        position: absolute;
        top: 0;
        display: flex;
        height: 12vh;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20px;
        background-color: var(--color-transparent);
    }
   
}

@media (min-width: 481px) and (max-width: 768px) {

  .divHeader {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:100%;
        padding-right: 20px;
        background-color: var(--color-transparent);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .divHeader {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        background-color: var(--color-transparent);
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .divHeader {
        display: flex;
        justify-content:space-evenly;
        flex-direction: column;
        align-items:center;
        background-color: var(--color-transparent);
    }

}

@media (min-width: 1281px) and (max-width: 1440px) {

    .divHeader {
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        align-items:center;
        background-color: var(--color-transparent);
    }
}

@media (min-width: 1441px) and (max-width: 1919px){

   .divHeader {
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items:center;
        background-color: var(--color-transparent);
    }
}

