.divHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:40%;
    padding: 30px 30px 40px;
    background-color: var(--rtc-color-babyWhite);
    /*background-color: #63c6e3;*/
    gap: 20px;
}


.divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%; /* esto es lo modificable a la hora del responsive */
    height: 20%;
}

.logo {
    width: 16%;
    height: auto;
    object-fit: contain;    
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li > a {
    color: var(--rtc-color-classicRed);
    text-decoration: none;
}

.navLinks > li {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: auto;
    height: auto;
    color: var(--rtc-color-classicRed);
    list-style: none;
    font-family: var(--rtc-font-family-1);
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: 100;
    transform: scale3d(1.7, 1, 1); 
}

.navLinks > li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px; 
    background: #1fb6e4;
    transform: translateY(-50%) scaleX(0);
    transition: transform 0.7s ease ;
}

.navLinks > li:hover::after {
    transform: translateY(-50%) scaleX(1);
}

.navLinks > li:hover {
    cursor: pointer;
}

/*
.logo, li {
    opacity: 80%;
}
*/

/* MEDIA QUERIES */

@media (max-width: 480px) {

    .divHeader {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        width:100%;
        height:100svh;
        padding: 20px;
        background-color: transparent;
        gap: 20px;
    }

    .divLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 100%; /* esto es lo modificable a la hora del responsive */
        height: 20%;
    }
    
    .logo {
        width: 20%;
        object-fit: contain;    
    }

    nav {
        position: relative;
        bottom: 1em;
        width: 100%;
        height: 50%;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .navLinks > li {
        font-size: 40px;
    }
   
}

@media (min-width: 481px) and (max-width: 768px) {

  
  .divHeader {
        display: flex;
        position: absolute;
        justify-content: space-evenly;
        width:100%;
        height:100svh;
        padding-top: 20px;
        background-color: transparent;
    }

    .divLogo {
        height: 15%;    
    }

    .logo {
        width: 14%;
        object-fit: contain;    
    }

    nav {
        position: relative;
        top: 1em;
        width: 100%;
        height: 60%;
    }

    .navLinks {
        gap: 10px;
    }

    .navLinks > li {
        font-size: 45px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .divHeader {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        width:100%;
        height:100svh;
        padding: 10px;
        background-color: transparent;
    }

    .divLogo {
        height: 14svh;    
    }

    .logo {
        width: 12%;
        object-fit: contain;    
    }

    nav {
        height: 50%;
    }

    .navLinks > li {
        font-size: 50px;
    }
   
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .divHeader {
        display: flex;
        justify-content:space-evenly;
        flex-direction: column;
        align-items:center;
        width:40%;
        height:100svh;
        padding: 10px 30px 40px;
    }
    
    .divLogo {
        height: 14svh;    
    }

    .logo {
        width: 25%;
        object-fit: contain;    
    }

    .navLinks > li {
        font-size: 50px;
    }
  

}

@media (min-width: 1281px) and (max-width: 1440px) {

    .divHeader {
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        align-items:center;
        width:40%;
        height:100svh;
        padding: 10px 30px 40px;
    }

    .divLogo {
        height: 14svh;    
    }

    .logo {
        width: 20%;
        object-fit: contain;    
    }

    .navLinks > li {
        font-size: 50px;
    }
}

@media (min-width: 1441px) and (max-width: 1920px){

   .divHeader {
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items:center;
        width:40%;
        height:100svh;
        padding: 30px 30px 40px;
        background-color: var(--rtc-color-babyWhite);
    }

    .divLogo {
        height: 14svh;    
    }
}

