
.container {
    display: flex;
    position: relative;
    top: 2em;
    width: 95%;
    height: 100%;  
    overflow: hidden;
}



.figure {
    flex-grow: 1;
    filter: grayscale(100%);
    transition: all 1.2s ease-in-out;
    padding: 1px;
}


.gallery-item {
    width: 100%;
    height: 100%;
    object-fit:cover; 
    background-color: black;
}


figcaption {
    display: none;
    width: auto;
    align-items: end;
    position: relative;
    bottom: 2em;
    padding: 0 10px;
    font-family: var(--font-family-2);
}

.figure:hover {
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Ctext y="20" font-size="20"%3E🍭%3C/text%3E%3C/svg%3E'), auto;
    z-index: 1;
    filter: grayscale(0%);
}

.figure:hover .figcaption {
    display: flex;
    background-color: rgba(0, 0, 0, 0.377);
    font-size: var(--font-size-s);
}

.image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( --color-babyWhite);
    color: red;
    font-size: var(--font-size-s);
}

.loading, .errorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-s);
    color: red;
}

.loading.loadingVisible {
    opacity: 1;
    color: var(--color-turquoise);
}



/* MEDIA QUERIES */

@media (max-width: 480px) {

    .container-smartPhone {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 5px 5px 30px;
    }

    .figure {
        padding: 2px;
        transition: transform 0.5s ease, opacity 0.9s ease;
        position: relative;
    }

    .activePicture {
        position: fixed; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%) scale(1);
        z-index: 10; 
        opacity: 1; 
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 1; /* Debajo de la imagen activa */
        opacity: 1; 
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .container-smartPhone {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 5px 5px 30px;
    }
    
    .figure {
        padding: 2px;
        flex-grow: 1;
        transition: transform 0.5s ease, opacity 0.9s ease;
        position: relative;
    }

    .activePicture {
        position: fixed; 
        display: flex;
        justify-content: center;
        align-items: center;
        top: 60%;
        left: 50%; 
        transform: translate(-50%, -50%) scale(1);
        z-index: 10; 
        opacity: 1; 
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 1; /* Debajo de la imagen activa */
        opacity: 1; 
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    

    .container-smartPhone {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 5px 5px 30px;
    }

    .figure {
        padding: 2px;
        flex-grow: 1;
        transition: transform 0.5s ease, opacity 0.9s ease;
        position: relative;
    }


    .activePicture {
        position: fixed; 
        display: flex;
        justify-content: center;
        align-items: center;
        top: 60%;
        left: 50%; 
        transform: translate(-50%, -50%) scale(1);
        z-index: 10; 
        opacity: 1; 
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 1; /* Debajo de la imagen activa */
        opacity: 1; 
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    

    .container-smartPhone {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 5px 5px 30px;
    }

    .figure {
        padding: 2px;
        flex-grow: 1;
        transition: transform 0.5s ease, opacity 0.9s ease;
        position: relative;
    }


    .activePicture {
        position: fixed; 
        justify-content: center;
        align-items: center;
        top: 60%;
        left: 50%; 
        transform: translate(-50%, -50%) scale(1);
        z-index: 10; 
        opacity: 1; 
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 1; /* Debajo de la imagen activa */
        opacity: 1; 
    }
}

@media (min-width: 1280px) and (max-width: 1443px) {

    .container {
        top:2em;
    }
}

@media (min-width: 1444px) and (max-width: 1919px){

    .container {
        top:2em;
    }
}