.figure.character { width: 10% }
.figure.character:hover { width: 30% }
.figure.character.activePicture { width: 40% }

.character1, .character8 {
    object-fit: cover;
    object-position: 47%; 
}

.character2 {
    object-fit: cover;
    object-position: 40%;
}


.character3, .character5 {
    object-fit: cover;
    object-position: 35%;
}


/* MEDIA QUERIES */

@media (max-width: 480px) {

    .figure.character { flex-basis: 60% }

    .figure.character:hover {
        width: 95%;
        height: 75vh;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .figure.character { flex-basis: 45% } 
    .figure.character.activePicture {
        width: 95%;
        height: 75vh;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {

    .figure.character { flex-basis: 45% }
    .figure.character.activePicture {
        width: 95%;
        height: 75vh;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {

    .figure.character { flex-basis: 33% }
    .figure.character:hover {
        width: 80%;
        height: 75vh;
    }
}

@media (min-width: 1280px) and  (max-width: 1443px) {

    .figure.character { width: 0% }
    .figure.character:hover { width: 20% }
    .figure.character.activePicture { width: 80% }
}

@media (min-width: 1444px) and (max-width: 1919px) {

    .figure.character { width: 0% }
    .figure.character:hover { width: 20% }
    .figure.character.activePicture { width: 40% }
}



