.characterSection {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 5px;
    justify-content: space-evenly;
    background-color:var(--rtc-color-babyWhite);
    /*background-color:var( --rtc-color-babyPink);*/
    /*background-color:black;*/
    
}

.character1 {
    object-fit: cover;
    object-position: 50%;
}



/* MEDIA QUERIES */


@media (max-width: 480px) {

    .characterSection {
        justify-content: center;
        height: 100%;     
    }
}

@media (min-width: 481px) and (max-width: 1024px) {

    .characterSection {
        justify-content: space-evenly;
        height: 100%;     
    }
}
