.figure.character {
    width: 10%;
}

.figure.character:hover {
    width: 30%;
}

.character1, .character8 {
    object-fit: cover;
    object-position: 47%; 
}

.character2 {
    object-fit: cover;
    object-position: 40%;
}


.character3, .character5 {
    object-fit: cover;
    object-position: 35%;
}


/* MEDIA QUERIES */



@media (max-width: 480px) {

    .figure.character {
        display: flex;
        flex-basis: 60%;
        flex-flow: column;
    }

    .figure.character:hover {
        width: 95%;
        height: 75vh;
    }

}


@media (min-width: 481px) and (max-width: 768px) {


    .figure.character {
        display: flex;
        flex-flow: column;
        flex-basis: 45%;
    }
    
    .figure.character:hover {
        width: 95%;
        height: 75vh;
    }
}


@media (min-width: 769px) and (max-width: 1023px) {


    .figure.character {
        display: flex;
        flex-flow: column;
        flex-basis: 45%;
    }

    .figure.character:hover {
        width: 95%;
        height: 75vh;
    }


}


@media (min-width: 1024px) and (max-width: 1279px) {

    .figure.character {
        display: flex;
        flex-flow: column;
        flex-basis: 33%;
    }

    .figure.character:hover {
        height: 75vh;
    }
}




