:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --rtc-font-family-1: 'portd';
  --rtc-font-family-2: 'sageffine';
  --rtc-font-family-3: 'instrument';
  
  --rtc-color-classicRed: #ff2927;
  --rtc-color-softBlue: #7ebbbc;
  --rtc-color-skyBlue: #b6eaf4;
  --rtc-color-babyPink:#ffe7e3;
  --rtc-color-softGreen: #b7ceb1;
  --rtc-color-limeGreen: #d5f59f;
  --rtc-color-babyWhite:#f6f6f8;

}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100svh;
  box-sizing: border-box;

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100svh;
}

