.container.hair {
    display:block;
    height: auto;
    padding: 0.5em 2em;
    justify-content: center;
    columns: 5;
    gap: 15px;
    position: relative;
    z-index: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}


.figure.hair {
    position: relative;
    max-width: 520px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.figure.hair img {
    width: 100%;
    border-radius: 8px;
}

/*
.figure.hair:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 999;
    opacity: 1;
    overflow: hidden;
}*/


/* MEDIA QUERIES */


@media (max-width: 480px) {

    .container.hair {
        columns: 1;
        padding: 0.5em;
    }

    .figure.hair {
        margin-bottom: 10px;
    }
/*
    .figure.hair.activePicure:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 50%;
        transform: translate(-50%, -92%) scale(1);
        z-index: 999;
        opacity: 1;
    }*/
}


@media (min-width: 481px) and (max-width: 768px) {

    .container.hair {
        columns: 2;
        padding: 0.5em;
    }

    .figure.hair {
        margin-bottom: 10px;
    }
}


@media (min-width: 769px) and (max-width: 1023px) {

    .container.hair {
        columns: 3;
    }
}

@media (min-width: 1024px) and  (max-width: 1279px) {

    .container.hair {
        columns: 3;
    }
}

@media (min-width: 1280px) and  (max-width: 1443px) {

    .container.hair {
        columns: 3;
    }
}

@media (min-width: 1444px) and (max-width: 1919px) {
    
    .container.hair {
        columns: 4;
    }

}


